* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/public/images/bg.jpg);
    background-size: cover;
    background-position: top center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
        width: 100%;
    max-width: 1015px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

header .menu-icon {
    display: none;
}

header .ham {
    width: 30px;
    background-color: #fff;
    height: 3px;
    margin-bottom:5px;
    border-radius: 2px;
}

header .logo {
    width: 200px;
}

header .logo img {
    width: 100%;
}

nav {
    flex: 1;
}
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.container {
    display: flex;
}

.content-area {
    flex: 1;
}

.content-area h1 {
    font-size: 55px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.content-area p {
    margin-right: 50px;
    font-size: 18px;
    line-height: 25px;
}
.content-area .cta {
    display: flex;
    margin-top: 40px;
       
}

.cta .button {
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #29be56;
    color: #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta .button-blue {
    background-color: #3498DB;
}

.phone-area .phone1 {
    height: 500px;
    width: auto;
    position: relative;
    z-index: 2;
    top: 10px;
}

.phone-area .phone2 {
    height: 500px;
    width: auto;
    position: relative;
    margin-left: -100px;
    z-index: 1;
}

